#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
}
#login-info{
    float: left;
}
#login-info span, #login-info a,#quick-menu a{
    color: #999;
}
#quick-menu{
   float: right;
}

.wrapper{
    margin: 0 auto;
    width: 1230px;
    height: 100%;
}
#quick-menu .menu{
    float: left;
    padding: 0 14px;
}
#quick-menu .menu :hover{
 color: #ff0000;
}
#quick-menu .iconfont{
    color: #ff0000;
    font-size: 12px;
}
#quick-menu .triangle:hover{
    background: #ffffff;
    
}